# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Data & Models (Optional: Comment out if you want to push these, but they are large)
# models/
# data/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
