# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Data & Models (Excluded to prevent push failure of large files)
models/
data/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
